<!DOCTYPE html>

<body>

<h1>
  Create a Person
</h1>

  <%= form_tag("/person/create", method: "post") do %>
    <%= text_field_tag( :first_name) %>
    <%= text_field_tag( :last_name) %>
    <%= text_area_tag(:description) %>
    <%= date_field_tag(:birth_date) %>
    <%= radio_button_tag(:role, 'actor') %> actor
    <%= radio_button_tag(:role, 'director') %> director
    <%= submit_tag('Create') %>
    <% end %>

</body>

</html>
