<!DOCTYPE html>

<body>

<h1>
  Create a Person
</h1>

  <%= form_tag("/person/create", method: "post") do %>
  First name <%= text_field_tag( :first_name) %>
  Last name <%= text_field_tag( :last_name) %>
  Description <%= text_area_tag(:description) %>
  Birth_day <%= date_field_tag(:birth_date) %>
  Actor <%= radio_button_tag(:role, 'actor') %>
  Director  <%= radio_button_tag(:role, 'director') %>
    <%= submit_tag('Create') %>
    <% end %>

</body>

</html>
