
<h1>
  salujen
</h1>
<form>
  <%= form_tag('/person/create', method: 'POST') do%>
    <%= text_field_tag(:person, :first_name) %>
    <%= text_field_tag(:person, :last_name) %>
    <%= text_area_tag(:person, :description) %>
    <%= date_select(:person, :birth_date) %>
    <th>director</th> <%= radio_button_tag(:role, 'actor') %>
    <th>actor</th>  <%= radio_button_tag(:role, 'director') %>
    <%= submit_tag('Crear') %>
    <% end %>
</form>


